Certificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:simpleType name="OctetString">
    <xs:restriction base="xs:hexBinary" />
  </xs:simpleType>

  <xs:simpleType name="CertificateSerialNumber">
    <xs:restriction base="xs:hexBinary" />
  </xs:simpleType>

  <xs:complexType name="ObjectIdentifier" >
    <xs:sequence>
      <xs:element name="Oid" type="xs:string"/>
      <xs:element name="Tag" type="xs:string"/>
    </xs:sequence>  
  </xs:complexType>
  
  <xs:complexType name="Parameters">
    <xs:sequence>
      <xs:any minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AlgorithmIdentifier">
    <xs:sequence>
      <xs:element name="Algorithm" type="ObjectIdentifier" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Parameters" type="Parameters" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AttributeTypeAndValue">
    <xs:sequence>
      <xs:element name="Type" type="ObjectIdentifier" />
      <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="RelativeDistinguishedName">
    <xs:sequence>
      <xs:element name="attributeTypeAndValue" type="AttributeTypeAndValue" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Name">
    <xs:sequence>
      <xs:element name="rdn" type="RelativeDistinguishedName"  minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Validity">
    <xs:sequence>
      <xs:element name="NotBefore" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
      <xs:element name="NotAfter" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubjectPublicKeyInfo">
    <xs:sequence>
      <xs:element name="Algorithm" type="AlgorithmIdentifier" minOccurs="1" maxOccurs="1"/>
      <xs:element name="SubjectPublicKey" type="xs:hexBinary" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Extensions -->
  <xs:simpleType name="KeyUsage">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:complexType name="ExtendedKeyUsage">
    <xs:sequence>
      <xs:element name="eku" type="ObjectIdentifier" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="SubjectKeyIdentifier">
    <xs:restriction base="xs:hexBinary"/>
  </xs:simpleType>
  
  <xs:simpleType name="DirectoryString">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  
  <xs:complexType name="EDIPartyName">
    <xs:sequence>
      <xs:element name="nameAssigner" type="DirectoryString" minOccurs="0" maxOccurs="1" />
      <xs:element name="partyName" type="DirectoryString" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="GeneralName">
    <xs:choice>
      <xs:element name="OtherName" type="AttributeTypeAndValue" />
      <xs:element name="Rfc822Name" type="xs:string" />
      <xs:element name="DNSName" type="xs:string" />
      <xs:element name="X400Address" type="xs:hexBinary" /> <!-- This is complex, hoping we don't see any of these -->
      <xs:element name="DirectoryName" type="Name" />
      <xs:element name="EdiPartyName" type="EDIPartyName" />
      <xs:element name="UniformResourceIdentifier" type="xs:string" />
      <xs:element name="IPAddress" type="xs:hexBinary" />
      <xs:element name="RegisteredID" type="ObjectIdentifier" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="GeneralNames">
    <xs:sequence>
      <xs:element name="generalName" type="GeneralName" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>  
  </xs:complexType>
  
  <xs:complexType name="AuthorityKeyIdentifier">
    <xs:sequence>
      <xs:element name="KeyIdentifier" type="OctetString" minOccurs="0" maxOccurs="1" />
      <xs:element name="AuthorityCertIssuer" type="GeneralNames" minOccurs="0" maxOccurs="1" />
      <xs:element name="AuthorityCertSerialNumber" type="CertificateSerialNumber" minOccurs="0" maxOccurs="1" />
    </xs:sequence>  
  </xs:complexType>
  
    <xs:complexType name="DistributionPointName">
    <xs:choice>
      <xs:element name="fullName" type="GeneralNames" />
      <xs:element name="nameRelativeToCRLIssuer" type="RelativeDistinguishedName" />
    </xs:choice>
  </xs:complexType>
  
  <xs:simpleType name="ReasonFlags">
    <xs:restriction base="xs:byte" />
    <!--
    ReasonFlags ::= BIT STRING {
    unused                  (0),
    keyCompromise           (1),
    cACompromise            (2),
    affiliationChanged      (3),
    superseded              (4),
    cessationOfOperation    (5),
    certificateHold         (6),
    privilegeWithdrawn      (7),
    aACompromise            (8) }
  -->
  </xs:simpleType>
  
  <xs:complexType name="DistributionPoint">
    <xs:sequence>
      <xs:element name="distributionPoint" type="DistributionPointName" minOccurs="0" maxOccurs="1" />
      <xs:element name="reasons" type="ReasonFlags" minOccurs="0" maxOccurs="1" />
      <xs:element name="cRLIssuer" type="GeneralNames" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CRLDistributionPoints">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="distributionPoint" type="DistributionPoint" />
    </xs:sequence>  
  </xs:complexType>

  <xs:complexType name="AccessDescription" >
    <xs:sequence>
      <xs:element name="accessMethod" type="ObjectIdentifier" minOccurs="1" maxOccurs="1" />
      <xs:element name="accessLocation" type="GeneralName" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AuthorityInfoAccess">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="accessDescription" type="AccessDescription" />
    </xs:sequence>
  </xs:complexType>

  <!-- Microsoft-specific -->
  <xs:complexType name="ApplicationCertPolicies">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="KeyPurposes" type="ObjectIdentifier" ></xs:element>
    </xs:sequence>  
  </xs:complexType>

  <xs:complexType name="PolicyQualifierInfo" >
    <xs:sequence>
      <xs:element name="policyQualifierId" type="ObjectIdentifier" minOccurs="1" maxOccurs="1" />
      <xs:element name="qualifier" type="xs:hexBinary" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PolicyInformation">
    <xs:sequence>
      <xs:element name="policyIdentifier" type="ObjectIdentifier" minOccurs="1" maxOccurs="1"/>
      <xs:element name="policyQualifiers" type="PolicyQualifierInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Microsoft-specific -->
  <xs:complexType name="CertTemplate">
    <xs:sequence>
      <xs:element name="objId" type="ObjectIdentifier" minOccurs="1" maxOccurs="1" />
      <xs:element name="majorVersion" type="xs:integer" minOccurs="1" maxOccurs="1" />
      <xs:element name="minorVersion" type="xs:integer" minOccurs="0" maxOccurs="1" />
    </xs:sequence>  
  </xs:complexType>

  <xs:complexType name="BasicConstraints">
    <xs:sequence>
      <xs:element name="CA" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
      <xs:element name="pathLenConstraint" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="GoogleCertTransparency">
    <xs:restriction base="xs:hexBinary" />
  </xs:simpleType>

  <xs:simpleType name="SmimeCapabilities">
    <xs:restriction base="xs:hexBinary" />
  </xs:simpleType>

  <xs:simpleType name="MicrosoftCAVersion">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>

  <xs:simpleType name="MicrosoftEnrollCertType">
    <!-- This needs to be converted from a BMPString -->
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="MicrosoftPreviousCertHash">
    <xs:restriction base="OctetString" />
  </xs:simpleType>

  <!-- Empty types for Apple extenstions, which have no data, and behave like an EKU -->
  <xs:complexType name="ApplePushDev" >
  </xs:complexType>

  <xs:complexType name="ApplePushProd" >
  </xs:complexType>

  <xs:complexType name="AppleCustom6" >
  </xs:complexType>

  <xs:simpleType name="EntrustVersion">
    <xs:restriction base="xs:hexBinary" />
  </xs:simpleType>

  <xs:complexType name="Extension">
    <xs:sequence>
      <xs:element name="ExtensionId" type="ObjectIdentifier" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Critical" type="xs:boolean" minOccurs="0" maxOccurs="1" />
      <xs:choice>
        <xs:element name="KeyUsage" type="KeyUsage" />
        <xs:element name="ExtendedKeyUsage" type="ExtendedKeyUsage" />
        <xs:element name="SubjectKeyIdentifier" type="SubjectKeyIdentifier" />
        <xs:element name="AuthorityKeyIdentifier" type="AuthorityKeyIdentifier" />
        <xs:element name="CRLDistributionPoints" type="CRLDistributionPoints" />
        <xs:element name="AuthorityInfoAccess" type="AuthorityInfoAccess" />
        <xs:element name="SubjectAltName" type="GeneralNames" />
        <xs:element name="ApplicationCertPolicies" type="ApplicationCertPolicies" />
        <xs:element name="CertificatePolicies" type="PolicyInformation" />
        <xs:element name="CertTemplate" type="CertTemplate" />
        <xs:element name="AuthorityKeyIdentifier_old" type="xs:hexBinary" /> <!-- antique, only very old certs -->
        <xs:element name="BasicConstraints" type="BasicConstraints" />
        <xs:element name="GoogleCertTransparency" type="GoogleCertTransparency" />
        <xs:element name="SmimeCapabilities" type="SmimeCapabilities" />
        <xs:element name="MicrosoftCAVersion" type="MicrosoftCAVersion" />
        <xs:element name="MicrosoftPreviousCertHash" type="MicrosoftPreviousCertHash" />
        <xs:element name="ApplePushDev" type="ApplePushDev" />
        <xs:element name="ApplePushProd" type="ApplePushProd" />
        <xs:element name="AppleCustom6" type="AppleCustom6" />
        <xs:element name="EntrustVersion" type="EntrustVersion" />
        <xs:element name="IssuerAltNames" type="GeneralNames" />
        <xs:element name="NetscapeCertUnknown" type="xs:hexBinary" />
        <xs:element name="PrivateKeyUsagePeriod" type="xs:hexBinary" />
        <xs:element name="KeyUsageRestriction" type="xs:hexBinary" />
        <xs:element name="FreshestCRL" type="CRLDistributionPoints" />

        <!-- Add others here, use the below for anything unknown -->
        <xs:element name="Unknown" type="xs:hexBinary"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Extensions">
    <xs:sequence minOccurs="1">
      <xs:element name="Extension" type="Extension"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TbsCertificate">
    <xs:sequence>
      <xs:element name="Version" type="xs:integer"/>
      <xs:element name="SerialNumber" type="xs:hexBinary" />
      <xs:element name="Signature" type="AlgorithmIdentifier"/>
      <xs:element name="Issuer" type="Name"/>
      <xs:element name="Validity" type ="Validity"/>
      <xs:element name="Subject" type="Name"/>
      <xs:element name="SubjectPublicKeyInfo" type="SubjectPublicKeyInfo"/>
      <xs:element name="IssuerUniqueID" type="xs:hexBinary" minOccurs="0"/> <!--typically not in current use-->
      <xs:element name="SubjectUniqueID" type="xs:hexBinary" minOccurs="0"/> <!--typically not in current use-->
      <xs:element name="Extensions" type="Extensions" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Certificate">
    <xs:sequence>
      <xs:element name="TbsCertificate" type="TbsCertificate" minOccurs="1" maxOccurs="1" />
      <xs:element name="SignatureAlgorithm" type="AlgorithmIdentifier" minOccurs="1" maxOccurs="1" />
      <xs:element name="SignatureValue" type="xs:hexBinary" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
